//
// Terminal
//

.php-report__terminal {
    .panel-heading {
        border-radius: 0;
        cursor: pointer;
    }

    &-inner {
        &:extend(.padded);
        height: 12rem;

        font-size: 1.3rem;
        line-height: 1.29rem;

        word-wrap: break-word;
        word-break: break-all;
    }
}
